<% content_for :title, "Editing session" %>

<h1>Editing session</h1>

<%= render "form", session: @session %>

<br>

<div>
  <%= link_to "Show this session", project_session_path(@project, @session) %> |
  <%= link_to "Back to sessions", project_path(@project) %>
</div>
